{% load admin_menu_tree  %}
{% if menu %}
	<option value=''>---------</option>
	{% for item in menu %}
		<option value='{{item.id}}'>{{item.name}}</option>
		{% if item.childs.count > 0 %}
			{% admin_menu_tree item id %}
		{% endif %}
	{% endfor %}
{% else %}
	{% for item in childs %}
		<option value='{{item.id}}'>{% for i in level_loop %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% endfor %}{{item.name}}</option>
		{% if item.childs.count > 0 %}
			{% admin_menu_tree item id level %}
		{% endif %}
	{% endfor %}
{% endif %}