{% load menu_tags %}


{# {% spaceless %} #}


{% if level == 1 %}<nav class='b-menu m-menu_{{ group }}' role='navigation' itemscope itemtype='http://schema.org/SiteNavigationElement'>{% endif %}

	<ul class='b-menu-list m-menu-level_{{ level }}'>
		{% for item in menu %}
			<li class='
				b-menu-item

				{% if item|is_current:url %}m-menu-item_current{% endif %}
				{% if item|is_parent:url %}m-menu-item_parent{% endif %}
				{% if item.childs_count > 0 %}m-menu-item_has-childs{% endif %}

				m-menu-item_{{ item.id }}'

			><!-- b-menu-item -->
				{% if item.url != "#" %} 
					<a class='b-menu-item__link' href='{{ item.url }}' itemprop='url'>
						{% if item.icon %}
							<img class='b-menu-item__icon' src='{{ item.icon.url }}' alt='{{ item.name }}' itemprop='image'>
						{% endif %}
						<span class='b-menu-item__text' itemprop='name'>{{ item.name }}</span>
					</a><!-- b-menu-item__link -->
				{% else %}
					{% if item.icon %}
						<img class='b-menu-item__icon' src='{{ item.icon.url }}' alt='{{ item.name }}'>
					{% endif %}
					<span class='b-menu-item__text'>{{ item.name }}</span>
				{% endif %}  

				{% if item.childs_count > 0 %}
					{% menu group item %}
				{% endif %}

			</li>
		{% endfor %}
	</ul><!-- b-menu-list m-menu-level_{{ level }} -->

{% if level == 1 %}</nav>{% endif %}


{# {% endspaceless %} #}