{% load menu_tags %}

{% spaceless %}
	<ul class='b-menu m-{{ group }} m-level-{{ level }}'>
		{% for item in menu %}
			<li class='
				b-menu-item
				{% if item|is_current:url %}m-menu-item_current{% endif %}
				{% if item|is_parent:url %}m-menu-item_parent{% endif %}
				m-{{ group }}-item-{{ item.id }}
				'>
				<a href='{{ item.url }}' class='b-menu-item__link'>
					{% if item.icon %}
						<img src='{{ item.icon.url }}' alt='{{ item.name }}' class='b-menu-item__icon'>
					{% endif %}
					{{ item.name }}
				</a>
				{% if item.childs_count > 0 %}
					{% menu group item %}
				{% endif %}
			</li>
		{% endfor %}
	</ul>
{% endspaceless %}