{% load menu_tags %}

{% spaceless %}
	<ul class='m-level-{{ level }} b-menu-{{ group }}'>
		{% for item in menu %}
			<li class='
				b-menu-{{ group }}-item
				{% if item|is_current:url %}m-menu-item_current{% endif %}
				{% if item|is_parent:url %}m-menu-item_parent{% endif %}
				m-menu-{{ group }}-item-{{ item.id }}
				'>
				<a href='{{ item.url }}' class='b-menu-{{ group }}-item-link'>
					{% if item.icon %}
						<img src='{{ item.icon.url }}' alt='{{ item.name }}' class='b-menu-{{ group }}-item-link__icon'>
					{% endif %}
					{{ item.name }}
				</a>
				{% if item.childs_count > 0 %}
					{% menu group item %}
				{% endif %}
			</li>
		{% endfor %}
	</ul>
{% endspaceless %}