{% extends "admin/change_form.html" %}

{% block after_field_sets %}
<script>
	(function($) {
		/* Hide unwanted types of url when type change */
		$('#id_url_type').change( function() {
			var url_type = $("#id_url_type option:selected").val();
			if (url_type == 'external') {
				$('.field-url').slideDown();
				
				$('.field-content_type').slideUp();
				$('.field-object_id').slideUp();
			 	$('.field-url_patterns').slideUp();
			 	$('.field-url_options').slideUp();
			} else if (url_type == 'url-patterns') {
			 	$('.field-url_patterns').slideDown();
			 	$('.field-url_options').slideDown();
				
				$('.field-url').slideUp();
				$('.field-content_type').slideUp();
			 	$('.field-object_id').slideUp();
			} else if (url_type == 'model-oblect') {
				$('.field-content_type').slideDown();
				$('.field-object_id').slideDown();
				
				$('.field-url').slideUp();
			 	$('.field-url_patterns').slideUp();
			 	$('.field-url_options').slideUp();
			} else {
				$('.field-url').slideUp();
				$('.field-content_type').slideUp();
				$('.field-object_id').slideUp();
			 	$('.field-url_patterns').slideUp();
			 	$('.field-url_options').slideUp();
			}
		});
		$('#id_url_type').change();

		/* Hide users and groups if access don't need */
		$('#id_access').change( function() {
			var access = $("#id_access option:selected").val();
			if ((access == 'exclude') || (access == 'filter')) {
				$('.field-access_is_active').slideUp();
				$('.field-access_is_staff').slideUp();
				$('.field-access_is_superuser').slideUp();

				$('.field-access_denied_group').slideUp();
				$('.field-access_denied_user').slideUp();
				$('.field-access_denied_is_active').slideUp();
				$('.field-access_denied_is_staff').slideUp();
				$('.field-access_denied_is_superuser').slideUp();

				$('.field-access_group').slideDown();
				$('.field-access_user').slideDown();
			} else if (access == 'advanced_access') {
				$('.field-access_group').slideDown();
				$('.field-access_user').slideDown();
				$('.field-access_is_active').slideDown();
				$('.field-access_is_staff').slideDown();
				$('.field-access_is_superuser').slideDown();

				$('.field-access_denied_group').slideDown();
				$('.field-access_denied_user').slideDown();
				$('.field-access_denied_is_active').slideDown();
				$('.field-access_denied_is_staff').slideDown();
				$('.field-access_denied_is_superuser').slideDown();
			} else {
				$('.field-access_group').slideUp();
				$('.field-access_user').slideUp();
				$('.field-access_is_active').slideUp();
				$('.field-access_is_staff').slideUp();
				$('.field-access_is_superuser').slideUp();

				$('.field-access_denied_group').slideUp();
				$('.field-access_denied_user').slideUp();
				$('.field-access_denied_is_active').slideUp();
				$('.field-access_denied_is_staff').slideUp();
				$('.field-access_denied_is_superuser').slideUp();
			}
		});
		$('#id_access').change();

		
		/* Load url patterns list */
		var url_patterns = $("#id_url_patterns").val();
		$("#id_url_patterns").remove();
		$('.field-url_patterns').append('<select id="id_url_patterns" name="url_patterns"></select>');
		$("#id_url_patterns").load('{% url 'menu_url_patterns' %}', function() {
			$("#id_url_patterns option[value=" + url_patterns + "]").attr('selected', 'selected');
		});
		//*
		{% if change %}
			$("#id_parent").load("{% url 'menu_parent_tree' group_id=original.group.id id=original.id %}", function() {
				$("#id_parent option[value={{ original.parent.id }}]").attr('selected', 'selected');
			});			
		{% else %} 
			$("#id_parent").empty();
		{% endif %}
		//*/
		$('#id_group').change( function() {
			if ($("#id_group option:selected").val() == '') {
				$("#id_parent").empty();
			} else {
				var group_id = $("#id_group option:selected").val();
				var original_id = {% if change %}{{ original.id }}{% else %}0{% endif %};
				var menu_parent_tree = '{% url 'menu_parent_tree_url_pattern' %}'
					.replace(/group_id/ig, group_id)
					.replace(/original_id/ig, original_id);
				$("#id_parent").load(menu_parent_tree, function(){
					$("#id_parent option[value={{ original.parent.id }}]").attr('selected', 'selected');
				});
			}
		});
		$('#id_group').change();

		$('.field-icon').after($('.field-description'));
		$('fieldset.module.aligned').prepend($('.field-name'));
	})(django.jQuery);
</script>
<style>
	select, input {width: 25em!important;}
	input.vIntegerField {width: 10em!important;}
	input[type=checkbox] {width: 20px!important;}
</style>
{% endblock %}
