{% extends "admin/change_form.html" %}
{% block after_field_sets %} 
<script>
	(function($) {
		/* Hide unwanted types of url */
		/*
		{% if change %}
			{% if original.url_type == 'external' %}
				$('.field-content_type').hide();
				$('.field-object_id').hide();
			 	$('.field-url_patterns').hide();
			 	$('.field-url_options').hide();
			{% elif original.url_type == 'url-patterns' %}
				$('.field-content_type').hide();
				$('.field-object_id').hide();
				$('.field-url').hide();
			{% elif original.url_type == 'model-oblect' %}
				$('.field-url').hide();
			 	$('.field-url_patterns').hide();
			 	$('.field-url_options').hide();
			{% else %}
				$('.field-content_type').hide();
				$('.field-object_id').hide();
				$('.field-url').hide();
			 	$('.field-url_patterns').hide();
			 	$('.field-url_options').hide();
			{% endif %}
		{% else %} 
			$('.field-url').hide();
			$('.field-content_type').hide();
			$('.field-object_id').hide();
			$('.field-url_patterns').hide();
			$('.field-url_options').hide();
		{% endif %}
		*/
		/* Hide unwanted types of url when type change */
		$('#id_url_type').change( function() {
			if ($("#id_url_type option:selected").val() == 'external') {
				$('.field-url').slideDown();
				
				$('.field-content_type').slideUp();
				$('.field-object_id').slideUp();
			 	$('.field-url_patterns').slideUp();
			 	$('.field-url_options').slideUp();
			} else if ($("#id_url_type option:selected").val() == 'url-patterns') {
			 	$('.field-url_patterns').slideDown();
			 	$('.field-url_options').slideDown();
				
				$('.field-url').slideUp();
				$('.field-content_type').slideUp();
			 	$('.field-object_id').slideUp();
			} else if ($("#id_url_type option:selected").val() == 'model-oblect') {
				$('.field-content_type').slideDown();
				$('.field-object_id').slideDown();
				
				$('.field-url').slideUp();
			 	$('.field-url_patterns').slideUp();
			 	$('.field-url_options').slideUp();
			} else {
				$('.field-url').slideUp();
				$('.field-content_type').slideUp();
				$('.field-object_id').slideUp();
			 	$('.field-url_patterns').slideUp();
			 	$('.field-url_options').slideUp();
			}
		});
		$('#id_url_type').change();

		/* Hide users and groups if access don't need */
		$('#id_access').change( function() {
			var access = $("#id_access option:selected").val();
			if ((access == '4') || (access == '5')) {
				$('.field-access_group').slideDown();
				$('.field-access_user').slideDown();
			} else {
				$('.field-access_group').slideUp();
				$('.field-access_user').slideUp();
			}
		});
		$('#id_access').change();
		
		/* Load url patterns list */
		var url_patterns = $("#id_url_patterns").val();
		$("#id_url_patterns").remove();
		$('.field-url_patterns').append('<select id="id_url_patterns" name="url_patterns"></select>');
		$("#id_url_patterns").load('{% url menu_url_patterns %}', function() {
			$("#id_url_patterns option[value=" + url_patterns + "]").attr('selected', 'selected');
		});
		//*
		{% if change %}
			$("#id_parent").load("{% url menu_tree group_id=original.group.id id=original.id %}", function() {
				$("#id_parent option[value={{ original.parent.id }}]").attr('selected', 'selected');
			});			
		{% else %} 
			$("#id_parent").empty();
		{% endif %}
		//*/
		$('#id_group').change( function() {
			if ($("#id_group option:selected").val() == '') {
				$("#id_parent").empty();
			} else {
				$("#id_parent").load("/menu/tree/" + $("#id_group option:selected").val() + "/{% if change %}{{ original.id }}{% else %}0{% endif %}/");
			}
		});
		$('#id_group').change();
	})(django.jQuery);
</script>
<style>
	select, input {width: 25em!important;}
	input.vIntegerField {width: 10em!important;}
	input[type=checkbox] {width: 20px!important;}
</style>
{% endblock %}